<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :address %>
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :phone number %>
    <%= f.text_field :phone_number %>
  </p>
  
  <p>
    <%= f.submit "Create Account" %>
  </p>
<% end %>
 