<h1>Sign up</h1>
<%= form_with(user: @user, local: true) do |f| %>
  <p>
	<%= f.label :name %>
	<%= f.text_field :name %>
  </p>

  <p>
	<%= f.label :email %>
	<%= f.email_field :email %>
  </p>

  <p>
	<%= f.label :password %>
	<%= f.password_field :password %>
  </p>

  <p>
	<%= f.label :address %>
	<%= f.text_area :email %>
  </p>

  <p>
	<%= f.label :phone_number%>
	<%= f.text_field :phone_number %>
  </p>

  <p>
  <%= f.label :user_type %>
  <%= f.select :user_type, ['seller', 'buyer']%>
  </p>

  <p>
	<%= f.submit "Create Account"%>
  </p>
<% end %>