<h1>Sign up</h1>
<%= flash[:notice] %>
<%= form_with(user: @user,url: signedup_path) do |f| %>

  <% if @user.errors.any?  %>
    <div>
      < @user.errors.full_messages.each do |messages| %>
        <div> <%= messages %> </div>
      <% end %>
    </div>

  <p>
	<%= f.label :name %>
	<%= f.text_field :name %>
  </p>

  <p>
	<%= f.label :email %>
	<%= f.email_field :email %>
  </p>

  <p>
	<%= f.label :password %>
	<%= f.password_field :password %>
  </p>

  <p>
	<%= f.label :address %>
	<%= f.text_area :address %>
  </p>

  <p>
	<%= f.label :phone_number%>
	<%= f.text_field :phone_number %>
  </p>


  <p>
  <%= f.label :user_type %>
  <%= select_tag :user_type, options_for_select([['Seller', 1], ['Buyer', 2]]) %>  </p>
  </p>

  <p>
	<%= f.submit "Sign Up"%>
  </p>
<% end %>