<style>
h1{
    text-align:center;
    
}
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; 
    border-radius: 5p
}
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: black; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }



.embed-responsive .card-img-top {
    object-fit: cover;
}
.reply_toggle_button {
    width: 70px;
    cursor: pointer;
   
}
.search{
    margin-left: auto;
  margin-right: auto;
}
.a{
    text-align: center;
}

</style>

<script type="text/javascript">
   
        let toggles = button => {
            console.log("check")
     let element = document.getElementById("myselect") ;
     let hidden = element.getAttribute("hidden");
    
     if (hidden) {
        element.removeAttribute("hidden");
        button.innerText = "Hide Select";
     } else {
        element.setAttribute("hidden", "hidden");
        button.innerText = "Show Select";
     }
     
  }
  let toggle1 = button => {
            console.log("check")
     let element = document.getElementById("myselect1") ;
     let hidden = element.getAttribute("hidden");
    
     if (hidden) {
        element.removeAttribute("hidden");
        button.innerText = "Hide Select";
     } else {
        element.setAttribute("hidden", "hidden");
        button.innerText = "Show Select";
     }
     
  }

  let toggle2 = button => {
            console.log("check")
     let element = document.getElementById("myselect2") ;
     let hidden = element.getAttribute("hidden");
    
     if (hidden) {
        element.removeAttribute("hidden");
        button.innerText = "Hide Select";
     } else {
        element.setAttribute("hidden", "hidden");
        button.innerText = "Show Select";
     }
     
  }
  let toggle3 = button => {
            console.log("check")
     let element = document.getElementById("myselect3") ;
     let hidden = element.getAttribute("hidden");
    
     if (hidden) {
        element.removeAttribute("hidden");
        button.innerText = "Hide Select";
     } else {
        element.setAttribute("hidden", "hidden");
        button.innerText = "Show Select";
     }
     
  }
  let toggle4 = button => {
            console.log("check")
     let element = document.getElementById("myselect4") ;
     let hidden = element.getAttribute("hidden");
    
     if (hidden) {
        element.removeAttribute("hidden");
        button.innerText = "Hide Select";
     } else {
        element.setAttribute("hidden", "hidden");
        button.innerText = "Show Select";
     }
     
  }
    </script>

<% if logged_in? %>





<!-- CODE FOR FILTERS  -->
<% if logged_in?  && current_user.user_type==2%>

      
      
    
  <%= form_with(car: :car,method: :get, url: cars_path) do |f| %>
  <br/><br/>
  <div class="a">
    <p> <b>Filter your options </b></p>
</div>
        
        <div >
           <div >
            <table class="search">
                <tr>
                    <td  width="30%">
            <span class="reply_toggle_button float-right h6" onclick='toggles()'>
                <small class="text-primary">Search Car Type</small>
              </span>
           </div>
            
            
                    <div id="myselect" hidden="hidden">
                    
                    <%= f.label :car_type %> <br/>
                    <table>
                    <% @filter_options[:car_type].each do |car_type1| %>
                    <% if car_type1[:label]=="Convertible" || car_type1[:label]=="Coupe" || car_type1[:label]=="Pick Up Truck" %>
                        <tr>
                    <% end  %>
                        <td>
                        <%= f.check_box :car_type,{multiple:true, checked: car_type1[:checked]} , car_type1[:value], false %>

                        <%= f.label car_type1[:label] %>
                        </td>
                        <% if car_type1[:label]=="Crossover" || car_type1[:label]=="Sports" || car_type1[:label]=="Wagon" %>
                    </tr>
                    <% end  %>
                    <% end %>
                    </table>
                </div>
            
        </div>
        </td>
  
        

        <td width="30%">
       <div >
            <span class="reply_toggle_button float-right h6" onclick='toggle1()'>
                <small class="text-primary">Search  Fuel Type</small>
              </span>
        </div>
        <div id="myselect1" hidden="hidden">
            <%= f.label :fuel_type %><br/>

            <table>
            <% @filter_options[:fuel_type].each do |fuel_type1| %>
                <% if fuel_type1[:label]=="Electric Battery" %>
                    <tr>
                <% end %>
            
                <td>
                <%= f.check_box :fuel_type,{multiple:true, checked: fuel_type1[:checked]} , fuel_type1[:value], false %>

                <%= f.label fuel_type1[:label] %>
                </td>
                <% if fuel_type1[:label]=="Ethanol" %>
            </tr>
                <% end %>
            <% end %>
        </table>
           
        </div>
    </td>



    <td width="30%">
        <div >
            <span class="reply_toggle_button float-right h6" onclick='toggle2()'>
                <small class="text-primary">Search Condition Type</small>
              </span>
           </div>
        <div id="myselect2" hidden="hidden">
            <%= f.label :condition %> <br/>
            <% @filter_options[:condition].each do |condition1| %>


            
                    <%= f.check_box :condition,{multiple:true, checked: condition1[:checked]} , condition1[:value], false %>

                    <%= f.label condition1[:label] %>
                
            <% end %>
        </div>
    </td>
</tr>
<tr>
      
        <td width="30%">
        <div >
            <span class="reply_toggle_button float-right h6" onclick='toggle3()'>
                <small class="text-primary">Search Status Type</small>
              </span>
           </div>
        <div id="myselect3" hidden="hidden">
            <%= f.label :status %> <br/>
            <% @filter_options[:status].each do |status1| %>
                <%= f.check_box :status,{multiple:true, checked: status1[:checked]} , status1[:value], false %>

                <%= f.label status1[:label] %>
            <% end %>
        </div>
    </td>


    
        <td width="30%">
        <div >
            <span class="reply_toggle_button float-right h6" onclick='toggle4()'>

                <small class="text-primary">Sort price </small>
              </span>
           </div>
        <div id="myselect4" hidden="hidden">
            <p>Sort Price By</p>
            <%= f.select :price, options_for_select(["select","high to low","low to high"]),{},{class: "form-control", :style =>"width:380px"} %>
        </div></td>
        
  
        <td>
        <div>
            <%= f.submit "Search", class: "btn btn-primary" %>
        </div>
    </td>
</tr>
</table>
  <% end %>

  
<% end %>



<!-- CODE FOR FILTERS ENDS HERE -->

<br/><br/><br/>
<div class="flickr_pagination">
    <%= will_paginate @cars, :container => false %>
</div>

<div>


<div class="container">
    <div class="row gy-3">

    <%if  @cars.blank? %>
    
        <h1> NO cars found </h1>
    <% end %>
    <% @cars.each do |car| %>

        
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">




                        <% c=1 %>
                       <div class="resol"
                        <% car.images.each do |img| %>
                            
                            <%= link_to image_tag(img, size: "286x180"), class: "card-img-top embed-responsive-item", alt:"first slide" %>

                            <% if c==1 %>
                                <% break %>
                            <% end %>
                            
                            

                           
                            <% end %>
                        </div>

                           
                        
                                    

                        <div class="card-body">
                            <h5 class="card-title"> <%= car.brand %> </h5>
                            <h5 class="card-title"> Price:<%= number_with_delimiter(car.price, :delimiter => ',') %>
                            </h5>
                            <p class="card-text"><i>
                                Car Type:
                                <%= @filter_options[:car_type][car.car_type][:label] %>
                            </i> </p>
                            <p class="card-text"><i>
                                Fuel Type: 
                                <%= @filter_options[:fuel_type][car.fuel_type][:label] %>
                            </i></p>
                            <p class="card-text"><i>
                                Condition: 
                                <%= @filter_options[:condition][car.condition][:label] %>
                            </p></i>

                            <p class="card-text"><i>
                                Color:<%=  car.color %>
                            </i></p>
                            <p class="card-text"><i>
                                
                                <% if car.status==0 %>
                                <div style= "color: green;">Status: Available</div>
                                <% else %>
                                <div style= "color: #ff0000;">Status: Sold</div>
                                <% end %>
                            </i></p>
                            <% if current_user.user_type==1 %>
                                <%=link_to 'edit',edit_car_path(car) , class:"btn btn-primary" %>
                            
                                
                            <% end %>
                            
                           
                                <%=link_to 'view', car_path(car), class:"btn btn-primary" %> 
                            <% if current_user.user_type==2 && car.status==1 %>
                            
                                <%= link_to 'comment',comment_path(car), class:"btn btn-primary" %>
                           <% end %>
                           
                    
                        </div>
                    </div>
                </div>


      

            <br/><br/><br/>

    <% end %> <br/>
            
        </div>
    </div>

</div>

<div class="flickr_pagination mb-4">
    <%= will_paginate @cars, :container => false %>
</div>

<% end %>

