<style>
h1{
    text-align:center;
}
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; 
    border-radius: 5p
}
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: black; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; x;}
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }



.embed-responsive .card-img-top {
    object-fit: cover;
}
.center {
  margin: auto;
  width: 60%;
  border: 1px solid black;
  padding: 10px;
}

</style>



<% if logged_in? %>





<!-- CODE FOR FILTERS  -->
<% if logged_in? %>
  <div class="center">
  <%= form_with(car: :car,method: :get, url: cars_path) do |f| %>
    <p> Filter your options </p>

        <div class: "form-group">
            <%= f.label :car_type %><br/>
            <div class="dd">           
                <% car_type = Array[0,1,2,3,4,5,6,7,8,9] %>
                
                <% car_type.each do |fu| %>
                    <%= f.check_box :car_type,{multiple:true} ,fu,false%>
                    <% if fu==0 %>
                        <%=f.label :Suv %>
                    <% elsif fu==1%>
                        <%= f.label :Hatchback %>
                    <% elsif fu==2%>
                        <%= f.label :Crossover %> 
                    <% elsif fu==3%>
                        <%= f.label :Convertible %>
                    <% elsif fu==4%>
                        <%= f.label :Sedan %>
                    <% elsif fu==5%>
                        <%= f.label :Sports %>
                    <% elsif fu==6%>
                        <%= f.label :Coupe %>
                    <% elsif fu==7%>
                        <%= f.label :Minivan %>
                    <% elsif fu==8%>
                        <%= f.label :Wagon %>
                    <%else %>
                        <%= f.label :Pick_up_truck %>
                    <% end %>

                <% end %>

            </div>
        </div>

        <div class: "form-group">
            <%= f.label :fuel_type %><br/>
            <div class="dd">           
                <% fuel = Array[0,1,2,3,4] %>
                
                <% fuel.each do |fu| %>
                    
                    <% if fu==0 %>
                        <% if  params[:fuel_type].include? '0' %>
                            <% val=true %>
                        <% else %>
                            <% val=false %>
                        <% end %>
                        <%= f.check_box :fuel_type,{multiple:true,checked:val} ,fu,false%>

                        <%=f.label :Petrol %>
                    <% elsif fu==1%>
                    <% if  params[:fuel_type].include? '1' %>
                            <% val=true %>
                        <% else %>
                            <% val=false %>
                        <% end %>
                        <%= f.check_box :fuel_type,{multiple:true,checked:val} ,fu,false%>

                        <%= f.label :Diesel %>
                    <% elsif fu==2%>
                    <% if  params[:fuel_type].include? '2' %>
                            <% val=true %>
                        <% else %>
                            <% val=false %>
                        <% end %>
                        <%= f.check_box :fuel_type,{multiple:true,checked:val} ,fu,false%>

                        <%= f.label :ethanol %> 
                    <% elsif fu==3%>
                    <% if  params[:fuel_type].include? '3' %>
                            <% val=true %>
                        <% else %>
                            <% val=false %>
                        <% end %>
                        <%= f.check_box :fuel_type,{multiple:true,checked:val} ,fu,false%>

                        <%= f.label :Electric_Battery %>
                    <%else %>
                    <% if  params[:fuel_type].include? '4' %>
                            <% val=true %>
                        <% else %>
                            <% val=false %>
                        <% end %>
                        <%= f.check_box :fuel_type,{multiple:true,checked:val} ,fu,false%>

                        <%= f.label :Hydrogen %>
                    <% end %>

                <% end %>

            </div>
        </div>

        <div class: "form-group">
            <%= f.label :condition %><br/>
            <div class="dd">           
                <% cond = Array[0,1] %>
                
                <% cond.each do |fu| %>
                    <%= f.check_box :condition,{multiple:true} ,fu,false%>
                    <% if fu==0 %>
                        <%=f.label :New %>
                   
                    <%else %>
                        <%= f.label :second_hand %>
                    <% end %>

                <% end %>

            </div>
        </div>

        <div class: "form-group">
            <%= f.label :condition %><br/>
            <div class="dd">           
                <% status = Array[0,1] %>
                
                <% status.each do |fu| %>
                    <%= f.check_box :status,{multiple:true} ,fu,false%>
                    <% if fu==0 %>
                        <%=f.label :Available %>
                   
                    <%else %>
                        <%= f.label :Sold %>
                    <% end %>

                <% end %>

            </div>
        </div>

       
        


        <div>
            <%= f.submit "Search", class: "btn btn-primary" %>
        </div>
  <% end %>
  </div>
<% end %>



<!-- CODE FOR FILTERS ENDS HERE -->

<br/><br/><br/>
<div class="flickr_pagination">
    <%= will_paginate @cars, :container => false %>
</div>

<div>


<div class="container">
    <div class="row gy-3">

    <%if  @cars.blank? %>
    
        <h1> NO cars found </h1>
    <% end %>
    <% @cars.each do |car| %>

        
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">




                        <% c=1 %>
                       <div class="resol"
                        <% car.images.each do |img| %>
                            
                            <%= link_to image_tag(img, size: "286x180"), class: "card-img-top embed-responsive-item", alt:"first slide" %>

                            <% if c==1 %>
                                <% break %>
                            <% end %>
                            
                            

                           
                            <% end %>
                        </div>

                           
                        
                                    

                        <div class="card-body">
                            <h5 class="card-title"> <%= car.brand %> </h5>
                            <h5 class="card-title"> Price:<%= number_with_delimiter(car.price, :delimiter => ',') %>
                            </h5>
                            <p class="card-text"><i>
                                Car Type:
                                <% if car.car_type==0 %>
                                    Suv
                                <% elsif car.car_type==1 %>
                                    Hatchback
                                <% elsif car.car_type==2 %>
                                    Crossover
                                <% elsif car.car_type==3 %>
                                    Covertible 
                                <% elsif car.car_type==4 %>
                                    Sedan
                                <% elsif car.car_type==5 %>
                                    Sports 
                                <% elsif car.car_type==6 %>
                                    Coupe
                                <% elsif car.car_type==7 %>
                                    Minivan
                                <% elsif car.car_type==8 %>
                                    Wagon
                                <% else %>
                                    Pick Up Truck
                                <% end %>
                            </i> </p>
                            <p class="card-text"><i>
                                Fuel Type: 
                                <% if car.fuel_type==0 %>
                                    Petrol
                                <% elsif car.fuel_type==1 %>
                                    Diesel 
                                <% elsif car.fuel_type==2 %>
                                    Ethanol
                                <% elsif car.fuel_type==3 %>
                                    Electric Battery
                                <% else %>
                                    Hydrogen
                                <% end %>
                            </i></p>
                            <p class="card-text"><i>
                                Condition: 
                                <% if car.condition==0 %>
                                    New
                                <% else %>
                                    2nd Hand
                                <% end %>
                            </p></i>

                            <p class="card-text"><i>
                                Color:<%=  car.color %>
                            </i></p>
                            <p class="card-text"><i>
                                
                                <% if car.status==0 %>
                                <div style= "color: green;">Status: Available</div>
                                <% else %>
                                <div style= "color: #ff0000;">Status: Sold</div>
                                <% end %>
                            </i></p>
                            <% if current_user.user_type==1 %>
                                <%=link_to 'edit',edit_car_path(car) , class:"btn btn-primary" %>
                            
                                
                            <% end %>
                            
                           
                                <%=link_to 'view', car_path(car), class:"btn btn-primary" %> 
                           
                    
                        </div>
                    </div>
                </div>




              
        
       

            <br/><br/><br/>

    <% end %> <br/>
            
        </div>
    </div>

</div>

<div class="flickr_pagination mb-4">
    <%= will_paginate @cars, :container => false %>
</div>

<% end %>

