<h1>Car Home Page</h1>

<%= link_to 'logout', logout_path, method: :delete %>
<% if logged_in? %>
<h2>Welcome  <%= current_user.name %> </h2>
<% else %>
<% end %>

<div> <%= link_to 'Add New Car', new_car_path %> </div>
<br/><br/><br/>
<div>
    <% @cars.each do |car| %>
        <div>Brand: <%= car.brand %> </div> 

        <div>Price: <%=  car.price %> </div>
        <div>Cart Type: <%=  car.car_type %> </div>
        <div>Fuel Type: <%=  car.fuel_type %> </div>
        <div>Condition: <%=  car.condition %> </div>
        <div>Color:<%=  car.color %> </div>
        <div>Status:  <%=  car.status %> </div>
        <% car.images_as_thumbnails.each do |img| %>
            <%= link_to image_tag(img), img %>
        <% end %>
        <div> <%=link_to 'edit',edit_car_path(car) %> </div>

            <br/><br/><br/>

    <% end %> <br/>
</div>




