<h1>UPLOAD NEW CAR TO SELL</h1>
<% if @car.errors.any? %>
  <h2>Following errors prevented from creating </h2>
  <ul>
  <% @car.errors.full_messages.each do |msg| %>
     <li> <%= msg %> </li>

  <% end %>
  </ul>
<% end %>



<%= form_with(car: :car, url: cars_path, local: true) do |f| %>
  <div>
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div>
    <%= f.label :car_type %>
    <%= select_tag :car_type, options_for_select([['SUV', 0], ['HATCHBACK', 1],['CROSSOVER', 2], ['CONVERTIBLE', 3], ['SEDAN', 4], ['SPORTS', 5], ['COUPE', 6], ['MINIVAN', 7], ['WAGON', 8], ['PICK UP TRUCK', 9]])  %>  
  </div>

  <div>
    <%= f.label :fuel_type %>
    <%= select_tag :fuel_type, options_for_select([['Petrol', 0], ['diesel', 1], ['Ethanol', 2], ['Electric Battery', 3], ['Hydrogen', 4]]) %>  
   </div>

  <div>
    <%= f.label :condition %>
    <%= select_tag :condition, options_for_select([['New', 0], ['2nd Hand', 1]]) %>  
  </div>



  <div>
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>


  <div>
    <%= f.label :status %>
    <%= select_tag :status, options_for_select([['Available', 0], ['Sold', 1]]) %>  
  </div>

  <div>
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>

  <div>
    <%= f.submit "Add" %>
  </div>
  
<% end %>